*{
    padding: 0;
    margin: 0;
}





.row-1{
    padding: 10px 0px;
    
}

.logo-jee{
    width: 200px;
    cursor: pointer;
}

.noti-main{
    text-align: right;
}

.span-1{
    margin-right: 60px;
    cursor: pointer;
}

.span-2{
    cursor: pointer;
}

.row-2{
    /* height: 95vh; */
    padding-top: 15px;
    /* background-color: blue; */
}

.mentor-menu{
    padding: 40px 0px;
    margin-left: -15px;
    margin-right: -15px;
}

.menu-list{
    color: white;
    font-size: 18px;
    list-style: none;
    padding: 10px 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: 0.3s all;
}

.menu-list:hover{
    background-color: rgba(255, 255, 255, 0.295);
    cursor: pointer;
    border-left: 6px solid white;
}

.heading-mentee{
    padding: 40px 30px 0 40px;
    color: #0a216f;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.main-content-cards{
    padding: 10px 0px;
}


.row-card{
    background-color: white;
    padding: 5px ;
    border-radius: 20px;
}

.img-card{
    width: 120px;
    padding: 20px 0 0 10px;
}

.list-cards {
    list-style: none;
}

/* Page 36 */
.img-card-page36{
    width: 70px;
    padding: 10px 0 0 0px;
}







@media only screen and (max-width: 800px) {
    .logo-jee{
        width: 150px ;
    }
    .row-1{
        padding:15px 0 0 0;  
    }
    .span-1 img,
    .span-2 img{
        width: 25px;
        margin-top: -65px;
    }

    .span-1{
        margin-right: 20px;
    }
    .side-space{
        display: none;
    }
    .main-cards{
        text-align: center;
    }
    .main-content-cards{
        padding: 10px 50px;
    }
    .mentor-menu{
        padding: 10px 0px;
    }

    

  }

